#main_content_img{
    text-align: center;
}
body{
    font-family:"Nanum Gothic",Verdana;

}
#animal_list{
    width: 1000px;
    height: 500px;
}
#animal_list li:first-child {
    padding: 10px 0;
    border-bottom: solid 1px #dddddd;
    background-color: #E5ECEF;
    font-weight: bold;
}
#animal_list li{
    padding: 10px 0;
    border-bottom: solid 1px #dddddd;
}
#animal_list span {
    display: inline-block;
    text-align: center;
}
#animal_list li:last-child .col2{
    text-align: left;
}
#animal_list a{
    text-decoration: none;
    color: black;
}
.col1 {
    width: 70px;
}
.col2{
    width: 460px;
    text-align: left;
}
.col3{
    width: 220px;
}
.col4{
    width: 160px;
}
.col5{
    width: 40px;
}


#page_num {
    text-align: center;
    margin: 30px 0;
}
#page_num .title{
    margin-top: 30px;
    padding: 10px;
    border-bottom: solid 2px #516e7f;
    font-size: 20px;
}
/*view*/

#view_content {
    width: 1000px;
}
#view_content li:first-child{
    font-size: 18px;
    padding: 15px;
    border-bottom: solid 1px #aaaaaa;
}
#view_content span:last-child {
    font-size: 15px;
}
#view_content li:last-child{
    padding: 15px 15px 80px 15px;
    border-bottom: solid 1px #cccccc;
}
#view_content #col3{
   float: right;
}
.buttons button{
    clear: both;
    margin: 20px;
    cursor: pointer;
    padding: 5px;
}
#content{
    width: 1000px;
    height: 600px;
}
#main h1{
    font-family:"Nanum Gothic",Verdana;
    text-align: left;
    font-size: 24px;
    color: rgb(25,75,104);
    margin: 0 0 40px 50px;   
}